body {
  background-color: yellow;
  
}

h1 {
  color: orange; 
}

.nav {
  background-color: #000000;
  overflow: hidden;
}

.nav a {
  color: #ffffff;
  text-align: center;
  padding: 10px, 16px;
  font-size: 20px;
}

.nav a:hover {
  color: orange; 
}

.nav a.active {
  color: teal; 
}
