body {
  margin: 0;
  /*background-color: rgb(221, 221, 197);*/
  background-color: : #D6DBDF
  font-family:Monospace;
  letter-spacing: 1px;
}

h1 {
  color: dodgerblue;
  font-size: 46px;
  letter-spacing: 6px;
}

p {
  font-size: 20px;
}

/* ------------------------------ Navigation Bar ------------------------------ */

.nav { /* navbar background */
  background-color: #333333;
  display: block; /* sets navbar as a box with adjustable height + width */
  height: 56px; /* sets height of navbar */
}

.nav img { /* navbar logo */
  float: left; /* sets logo apart so it doesn't mess with link alignment */
  padding: 3px; /* leaves empty space around logo for navbar to show through */
}

.nav a {  /* navbar links */
  color: #cccccc;
  font-size: 28px;
  font-family: Monospace;
  text-decoration: none; /* removes the underline that comes default with links */
  letter-spacing: 5px; /* increases spacing between letters by 5px */
  line-height: 56px; /* aligns links to vertical center of navbar */
  padding-left: 10px; /* sets horizontal spacing between links */
  padding-right: 10px; /* sets horizontal spacing between links */
}

.nav a:hover { /* changes color of navbar links when hovered over */
  color: coral; 
}

.nav a.current { /* sets color of navbar link for current page */
  color: cornflowerblue; 
}
/* ---------------------------------------------------------------------------- */
