body {
  margin: 0;
  background-color: rgb(221, 221, 197);
  font-family:Monospace;
  letter-spacing: 1px;
}

h1 {
  color: dodgerblue;
  font-size: 46px;
  letter-spacing: 6px;
}

p {
  font-size: 20px;
}

.nav {
  background-color: #333333;
  display: block;
  height: 56px;
}

.nav img {
  float: left;
  text-align:center;
  padding: 3px;
}

.nav a {
  color: #cccccc;
  text-align: center;
  text-decoration: none;
  font-family: Monospace;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 56px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav a:hover {
  color: coral; 
}

.nav a.current {
  color: cornflowerblue; 
}
